ojdbc*.jar
bin/
target/
.classpath
.project
.settings/
exemple*.xml
log
entree_*
sortie_*
.DS_Store
*.zip
*.csv
*.sh
!docker/**/*.sh
!db-setup/**/*.sh
!test-exe/**/*.sh
h2/tests.mv.db
h2/tests.trace.db
h2/bacasable.mv.db
h2/bacasable.trace.db
*.json
*.xml
*.iml
